{% extends "post/base.html" %}
{% block content %}
  <h1>My Posts</h1>
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <div class="btn-group" role="group">
    <button id="btnGroup" type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fas fa-plus"></i> New Entry
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <li><a class="dropdown-item" href="{% url 'post-create' %}?title=0">Gratitude Entry</a></li>
<!--value='gratitude' -->
      <li><a class="dropdown-item" href="{% url 'post-create' %}?title=1">Question Entry</a></li>
      <li><a class="dropdown-item" href="{% url 'post-create' %}">Personal Entry</a></li>
    </ul>
  </div>
</div>

{% for post in posts %}
    <div class="card">
      <div class="card-body">
        <a href="{% url 'post-detail' post.id %}">
          <h3 class="card-title">{{ post.title }}</h3>
  <!--Django Date Documentation: https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date -->
          <h4 class="card-subtitle">By {{ post.author }} | {{ post.date_posted|date:"D, M d, Y" }} </h4>
          <p class="card-text">{{ post.content }}</p>
        </a>
      </div>
    </div>
      <br>
  {% endfor%}
{% endblock content %}